

.outside {
    background: navy;
}
.container {
    background: blanchedalmond;
    color: navy;
    border: 3px solid black;
    width: 90%;
    margin: 25px auto;
    border-radius: 5px;
    padding: 15px;

}
<style>
#myHeader {
    background-color: hotpink;
    color: khaki;
    padding: 40px;
    text-align: center;
}

#myFooter {
    background-color: black;
    color: blanchedalmond;
    padding: 30px;
    text-align: center;
}

#myQuote {
    background-color: blanchedalmond;
    color: hotpink;
    padding: 40px;
    text-align: center;
}
</style>