
:root{
    --dark-primary-color:#435C70;
   --light-primary-color:#ffc107;
    --primary-color:#9e9e9e;
    --text-icons:#0A1C3D;
    --accent-color:#4caf50;
    --primary-text:#fafafa;
    --secondary-text:#81d4fa;
    --divider-color: solid black;
    --heading-font: 'Roboto Slab';
    --text-font: 'Roboto Slab';
}

*{
    box-sizing: border-box; 
    overflow: auto
}
body{
    font-family: 'Roboto Slab';
    font-size: 1.3em;
    font-family: var(--text-font);
    /* line-height: 1.5;*/
    background: skyblue;
    color: midnightblue;
}

img{
    padding: 10px;
    border-radius: 25px;
}

.container{
    width: 99%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 20px;
    border: 5px solid gray;
    border-radius: 20px;
    }
#BucketoAdventures {
        /* background-color: lightskyblue; */
        color: snow;
        padding: 40px 35px 40px 10px;
        text-align: center;
    }

header{
    background: var(--text-icons);
}

#head-img{
    float: left;
    padding-top: 20px;
    width: 20%;
    border-radius: 25px;
}

    nav {
        text-align: center;
        line-height: 3;
    }

    nav a {
        text-decoration: none;
        background: black;
        border: 6px solid gray;
        border-radius: 20px;
        padding: 10px 20px;
        margin: 10px 20px;
        color: greenyellow;
    }

    nav a:visited {
        color: hotpink;
    }

    nav a:hover {
        background: gold;
        color: black;
    }

    aside{
        clear: both;
        float: left;
        width: 30%;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        overflow: auto;
        border-radius: 25px;
        margin-right: 10px;
        opacity: 70%; 
        background-color:#0B1C41;
    }

    aside.container{
        clear: both;
        float: left;
        width: 30%;
        box-sizing: border-box;
        margin: 0;
        padding: 10px;
        overflow: auto;
        border: 2px solid gray;
        border-radius: 25px;
        margin-right: 10px;
    }

 #myFooter {
        background-color: #0A1C3D;
        color: snow;
        padding: 5px;
        text-align: center;
        border-radius: 25px;
    }
a:link {
color: greenyellow;
background-color: transparent;
text-decoration: none;
}
a:visited {
    color: hotpink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: gold;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: gray;
    background-color: transparent;
    text-decoration: underline;
}
    